    $primary-color:#F4E041;
    $secondary-color:#00BDD3;
    /* font */
    $primary-font-color:#FFFFFF;
    $secondary-font-color:rgba(0, 0, 0, 0.87);
    /* background */
    $primary-background-color:#F8F8F8;
    $secondary-background-color:#FFFFFF;
    $tooltip--background-color:rgba(0, 0, 0, 0.87);

    /* hover */
    $hover-color:#FFE302;
    $disabled-color:#B4B4B4;
    /* input */
    $border-input-color:#D0CFCF;
    $label-input-color:#7E7E7E;

