@import "../../stylesheet/utils/vars.scss";
@import "../../stylesheet/utils/mixin.scss";

// card сотрудника, сетка сделана с помощью отрицательных маржинов
.employee__card {
  @include flex-column;
  padding: 20px;
  background-color: $secondary-background-color;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 56px);
    margin-left: 16px;
    margin-top: 16px;
  }
  @media screen and (min-width: 1024px) {
    flex-basis: calc(100% / 3 - 69px);
    margin-left: 29px;
    margin-top: 29px;
  }
}
// маржин на последнем элементе  неуказывается если mobile
.employee__card:not(:last-child) {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.employee__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.employee__title {
  margin-bottom: 20px;
  @include font(400, 16px, 26px);
  text-align: center;
  color: $secondary-font-color;
}
.employee__text {
  @include font(400, 16px, 26px);
  text-align: center;
  color: $secondary-font-color;
}


.employee__link {
  position: relative;
  padding: 0;
  margin: 0;
  @include font(400, 16px, 26px);
  text-align: center;
  color: $secondary-font-color;
}

// воспользовался библеотекой react-tooltip. Везде указал !important, чтобы перебить default стили
.employee__tooltip {
  padding: 2px 16px !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1.63 !important;
  background-color: $tooltip--background-color !important;
  color: $primary-font-color !important;
  border-radius: 4px !important;
  &::after {
    opacity: 0;
  }
}
