@import "../../stylesheet/utils/vars.scss";
@import "../../stylesheet/utils/mixin.scss";

.employee__item {
  padding: 20px;
  background-color: $secondary-background-color;
  border-radius: 10px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 56px);
    margin-left: 16px;
    margin-top: 16px;
  }
  @media screen and (min-width: 1024px) {
    flex-basis: calc(100% / 3 - 69px);
    margin-left: 29px;
    margin-top: 29px;
  }
}

.employee__item:not(:last-child) {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.employee__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.employee__title {
  margin-bottom: 20px;
  @include font(400, 16px, 26px);
  text-align: center;
  color: $secondary-font-color;
}
.employee__text {
  font-style: normal;
  @include font(400, 16px, 26px);
  text-align: center;
  color: $secondary-font-color;
}

.employee__item::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.employee__link {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  font-style: normal;
  @include font(400, 16px, 26px);
  text-align: center;
  color: $secondary-font-color;
}
.employee__tooltip {
  padding: 2px 16px !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1.63 !important;
  background-color: $tooltip--background-color !important;
  color: $primary-font-color !important;
  border-radius: 4px !important;
  &::after {
    opacity: 0;
  }
}
