@import-normalize;
@import "./stylesheet/base/base.scss";
@import "./stylesheet/utils/vars.scss";

body {
  margin: 0;
  font-family: $primary-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
